﻿@model IEnumerable<SIEL.Models.Arquivo>

@{
    ViewBag.Title = "Arquivos";
}

<h2>Arquivos Enviados</h2>

@Html.Partial("_AlertMessage")
<p>
    @Html.ActionLink("Enviar arquivos", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caminho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamanho)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caminho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tamanho)
                </td>
                <td>
                    @Html.ActionLink("Gerar/Visualizar HTML", "GerarFolha", new { id = item.ArquivoId })
                    @*@Html.ActionLink("Baixar PDF", "Download", new { id = item.ArquivoId })*@
                </td>
            </tr>
        }
    }

</table>
