﻿@model SIEL.Models.FolhaVotacaoViewModel
@{
    ViewBag.Title = "Folha de Votação";
}

@Html.Partial("_AlertMessage")

<a href="javascript:window.history.back();" class="btn btn-default">Voltar</a>
@if (Model != null)
{
    <p><b>Municipio:</b> @Model.Municipio</p>
    <p><b>Turno:</b> @Model.Turno</p>
    <p><b>Secao:</b> @Model.Secao</p>
    <p><b>Zona:</b> @Model.Zona</p>
    <p><b>Data de Votacao:</b> @Model.DataVotacao</p>
    <hr/>
    foreach (var benef in Model.Beneficiarios)
    {
        <p><b>RE:</b> @benef.Re</p>
        <p><b>NOME:</b>@benef.Nome</p>
    }
}


@*

        @model IEnumerable<SIEL.Models.FolhaVotacaoViewModel>
    @{
        ViewBag.Title = "Folha de Votação";
    }

    @Html.Partial("_AlertMessage")

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <p>Municipio: @item.Municipio</p>
            <p>Turno: @item.Turno</p>
            <p>Secao: @item.Secao</p>
            <p>Zona: @item.Zona</p>
            <p>Data de Votacao: @item.DataVotacao</p>

            foreach (var benef in item.Beneficiarios)
            {
                <p>RE: @benef.Re</p>
                <p>NOME: @benef.Nome</p>
            }
        }
    }
    <a href="javascript:window.history.back();" class="btn btn-default">Voltar</a>
*@