﻿@model SIEL.Models.FolhaVotacaoViewModel

@{
    ViewBag.Title = "Folha de Votação";
}
@Html.Partial("_AlertMessage")
@using (Html.BeginForm("GerarFolha", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ArquivoId)
    <h2>Visualizar/HTML</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.DataVotacao, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.DataVotacao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataVotacao, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Unidade, htmlAttributes: new { @class = "control-label" }) <br />
        @Html.EnumDropDownListFor(model => model.Unidade, "Todas", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Unidade, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Paginacao, htmlAttributes: new { @class = "control-label" }) <br />
        @Html.EnumDropDownListFor(model => model.Paginacao, "Selecione", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Paginacao, "", new { @class = "text-danger" })
    </div>

    <p>
        <button class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> Gerar Folha</button>
    </p>
}


@using (Html.BeginForm("Download", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ArquivoId)
    <h2>Baixar/PDF</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.DataVotacao, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.DataVotacao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DataVotacao, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Unidade, htmlAttributes: new { @class = "control-label" }) <br />
        @Html.EnumDropDownListFor(model => model.Unidade, "Todas", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Unidade, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Paginacao, htmlAttributes: new { @class = "control-label" }) <br />
        @Html.EnumDropDownListFor(model => model.Paginacao, "Selecione", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Paginacao, "", new { @class = "text-danger" })
    </div>

    <p>
        <button class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> BAIXAR</button>
    </p>
}
