﻿@model SIEL.Models.FolhaVotacaoViewModel
@{
    Layout = null;
    const int topo = 168;
    var cont = 0;
    var pagina = 0;
    var municipio = string.Empty;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>Imprimir Folha de Votação</title>
</head>
<body>
    <div class="container">
        @Html.Partial("_Topo", Model)
        <div class="row">
            @for (var index = 0; index < Model.Beneficiarios.Count; index++)
            {
                var municipioAtual = Model.Beneficiarios[index].Municipio;
                municipio = municipio == municipioAtual ? municipio : municipioAtual;
                Model.Municipio = municipio;

                cont++;
                <div class="linha">
                    <div class="beneficiario">
                        <div class="info-ben">
                            <span class="nome-ben">@Model.Beneficiarios[index].Nome</span>
                            <span>
                                <span class="num-insc">N° Inscrição: </span><b class="inscricao">@Model.Beneficiarios[index].Re</b>
                            </span>
                        </div>
                        <div class="assinatura">
                            <span>ASSINATURA</span>
                        </div>
                    </div>
                    <div class="comprovante">
                        <p>N° Inscrição:<b class="inscricao">@Model.Beneficiarios[index].Re</b></p>
                        <p>Data:  @Model.DataVotacao.ToShortDateString()</p>
                        <p>Municipio: @municipio</p>
                        <p>UF: RO</p>
                    </div>
                </div>
                if (cont >= 9)
                {
                    cont = 0;
                    <p class="fim"></p>
                    <div class="container">
                        @Html.Partial("_Topo", Model)
                    </div>
                }
            }
        </div>
        <hr class="row" />
    </div>
</body>
</html>
