﻿@model SIEL.Models.FolhaVotacaoViewModel
@{
    Layout = null;
    var cont = 0;
    var pagina = 0;
    var pog = 310;
    var municipio = string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>Imprimir Folha de Votação</title>
</head>
<body>
    <div class="row container">
        @Html.Partial("_Topo", Model)
        @for (var index = 0; index < Model.Beneficiarios.Count; index++)
        {
            var municipioAtual = Model.Beneficiarios[index].Municipio;
            municipio = municipio == municipioAtual ? municipio : municipioAtual;
            Model.Municipio = municipio;

            cont++;
            <div class="linha">
                <div class="beneficiario">
                    <div class="info-ben">
                        <span class="nome-ben">@Model.Beneficiarios[index].Nome</span>
                        <span>
                            <span class="num-insc">N° Inscrição: </span><b class="inscricao">@Model.Beneficiarios[index].Re</b>
                        </span>
                    </div>
                    <div class="assinatura">
                        <span>ASSINATURA</span>
                    </div>
                </div>
                <div class="comprovante">
                    <p>N° Inscrição:<b class="inscricao">@Model.Beneficiarios[index].Re</b></p>
                    <p>Data:  @Model.DataVotacao.ToShortDateString()</p>
                    <p>Municipio: @Model.Municipio</p>
                    <p>UF: RO</p>
                </div>
            </div>

            if (cont == 9 || index == Model.Beneficiarios.Count - 1)
            {
                pagina++;
                if (index == Model.Beneficiarios.Count - 1)
                {
                    <hr class="row" />
                    <div class="num-pag">
                        Página @pagina
                    </div>
                }
                else if (cont == 9)
                {
                    <p class="fim"></p>
                    <div class="num-pag">
                        Página @pagina
                    </div>
                    if (pagina == pog)
                    {
                        pog += 10;
                        <div class="pog"></div>
                    }
                    @Html.Partial("_Topo", Model)
                }
                cont = 0;
            }
        }
    </div>
</body>
</html>
