﻿@{
    ViewBag.Title = "Página Inicial";
}
<br />
@Html.Partial("_AlertMessage")
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.ActionLink("Arquivos enviados", "Arquivos")
    </p>
    <div class="row">
        <input type="file" id="file" name="Arquivo" class="form-control" title="Fazer leitura do arquivo" />
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-repeat"></i> Enviar Arquivos</button>
    </div>
    <br />
    if (ViewBag.Caminho != null)
    {
        <p class="alert alert-info">CAMINHO: @ViewBag.Caminho</p>
    }
}
@section scripts
{
    <script src="~/Scripts/jquery.MultiFile.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#file').MultiFile({
                accept: 'xls|xlsx',
                max: 300,
                STRING: {
                    remove: 'Remover',
                    denied: 'Tipo do arquivo inválido $ext!',
                    duplicate: 'Esse arquivo já foi selecionado:\n$file!'
                }
            });
        });
    </script>
}