﻿@model SIEL.Models.FolhaVotacaoViewModel

<div class="topo">
    <div class="container">
        <div class="logo">
            <img src="~/Imagens/logo.jpg" alt="" />
        </div>
        <div class="empresa">
            <span>ASSOCIAÇÃO TIRADENTES DOS POLICIAIS MILITARES E BOMBEIROS MILITARES DO ESTADO DE RONDÔNIA</span>
        </div>
        <div class="horario">
            <span>@DateTime.Now.ToShortDateString()</span>
            <span>@DateTime.Now.ToLongTimeString()</span>
        </div>
    </div>

    <div class="container titulo">
        Folha de Votação
    </div>

    <div class="container">
        <div class="esquerda">
            <br />
            <p>
                <b>Municipio:</b> @Model.Municipio
            </p>
            <p><b>UF: </b>RO</p>
            <br />
        </div>

        <div class="direita text-center">
            COMPROVANTE DE VOTAÇÃO DESTAQUE E ENTREGUE AO ELEITOR
        </div>
    </div>

    <hr class="row" />
</div>