﻿* {
    background: transparent !important;
}

body {
    line-height: none;
}

.topo {
    border-top: 2px;
    padding-top: 5px;
}

.logo {
    width: 10%;
    float: left;
}

    .logo img {
        width: 64px;
    }

.empresa {
    float: left;
    font-size: 13px;
    width: 54%;
    margin-left: 5px;
    margin-right: 20%;
    padding-top: 6px;
}

.horario {
    margin-left: 5%;
    width: 10%;
    float: right;
    text-align: center;
    padding-top: 5px
}

.titulo {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: -10px;
    border-bottom: solid #E3C892 5px;
}

.esquerda {
    width: 70%;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    line-height: 100%;
    height: 62px;
}

.direita {
    float: left;
    text-align: center;
    width: 30%;
    height: 62px;
}

.linha {
    margin-top: 2px;
    height: 80px;
    padding-bottom: 2px;
}

.beneficiario {
    border: solid 1px;
    width: 70%;
    float: left;
}

.info-ben {
    padding-left: 5px;
    text-align: left;
    padding-top: 2px;
}

    .info-ben p {
        padding: 2px;
    }

.assinatura {
    border-top: solid 1px;
    margin-bottom: 23px;
    font-size: 10px;
}

    .assinatura span {
        margin-left: 5px;
        font-size: 9px;
    }

.comprovante {
    width: 20%;
    float: left;
    margin-left: 10px;
    font-size: 10px;
}

    .comprovante p {
        line-height: 100%;
        margin: 0 0 5px;
    }

.secao {
    width: 40%;
    text-align: right;
}

.zona {
    float: left;
    width: 50%;
    text-align: left;
}

.nome-ben {
    font-style: italic;
    font-size: 12px;
    float: left;
    width: 100%;
}

.num-insc {
    font-size: 11px;
    float: left;
    line-height: 20px;
}

.inscricao {
    padding-left: 5px;
    font-size: 12px;
}

hr {
    border: solid 1px black;
    line-height: 0;
    margin: 0;
}

.titulo, .empresa, .direita, .horario {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.num-pag {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.fim {
    border: solid 1px;
}

.pog{ margin-top: 2px; margin-bottom: 1px }

/*COM PDF*/
/*.comprovante {
    font-size: 12px;
}

.nome-ben {
    font-size: 14px;
}

.esquerda{ font-size: 14px;}

.direita{ font-size: 14px;}*/
/*FIM CSS PDF */
